Q1. What are data structures, and why are they important?


--->Data Structures

. Data structures are techniques to organize, manage, and store data in a computer system.

. They arrange data in a way that makes access and processing more efficient.

. Common examples include arrays, linked lists, stacks, queues, trees, and graphs.

---->Data Structures are Important

.  They make operations like searching, inserting, updating, and deleting data faster.

. They help in saving memory and managing system resources efficiently.

. They support algorithms and make solving complex problems easier.

. They are widely used in databases, operating systems, and software applications.

. They ensure scalability, so programs can handle large amounts of data smoothly.

Q2.Explain the difference between mutable and immutable data types with examples?

. Mutable data types are those whose values can be changed or modified after they are created.

. When you update a mutable object, it changes in place without creating a new object.

Examples: Lists, Dictionaries, Sets.

Python Example:

my_list = [1, 2, 3]
my_list[0] = 10    # List is mutable, so value changes
print(my_list)     # Output: [10, 2, 3]


--->Immutable Data Types

. Immutable data types are those whose values cannot be changed after they are created.

. Any modification to an immutable object creates a new object instead of changing the original one.

Examples: Strings, Tuples, Integers, Floats.

Python Example:

my_string = "Hello"
my_string = my_string + " World"   # Creates a new string
print(my_string)

Q3.What are the main differences between lists and tuples in Python?--->Difference between Lists and Tuples in Python

. Lists are mutable, meaning their elements can be changed, added, or removed, while tuples are immutable and cannot be modified once created.

. Lists use square brackets [ ], whereas tuples use parentheses ( ) for declaration.

. Lists generally take more memory and are slower, while tuples use less memory and are faster in execution.

. Lists have many built-in methods like append(), remove(), and sort(), but tuples have fewer methods.

. Lists are used when data needs to be updated frequently, while tuples are used when data should remain constant, such as coordinates or fixed records

Q4.Describe how dictionaries store data?

--->This is the Way How Dictionaries Store Data in Python

. Dictionaries store data in the form of key-value pairs, where each key is unique and maps to a specific value.

. Internally, they use a hashing technique that converts keys into hash codes for quick access and retrieval.

. Data is enclosed within curly braces { } and written in the format {key: value}.

. Keys must be immutable types (like strings, numbers, or tuples), while values can be of any type.

. Dictionaries provide fast lookup because the hash function directly locates the value using its key.

. They are widely used when data needs to be retrieved based on a name or label instead of a numeric index.

Example:

student = {"name": "Rahul", "age": 20, "course": "Python"}
print(student["age"])   # Output: 20

Q5.Why might you use a set instead of a list in Python?

--->WE USE SET INSTEAD OF LIST IN PYTHON

. A set automatically removes duplicate elements, while a list allows duplicates.

. Sets use hashing, which makes searching and membership testing (in operation) much faster than lists.

. Sets are unordered collections, so they are preferred when the order of elements does not matter.

. They provide built-in operations like union, intersection, and difference, which are not directly available with lists.

. Sets are best used when we need to store unique data and perform mathematical set operations efficiently

Q6.What is a string in Python, and how is it different from a list?

--->STRING IN PYTHON, AND HOW IS IT DIFFERENT FROM A LIST.

. A string in Python is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).

. Strings are immutable, which means once created, their content cannot be changed.

. A list, on the other hand, is a collection of items (which can be numbers, strings, or other objects) enclosed within square brackets [ ].

. Lists are mutable, so elements can be changed, added, or removed after creation.

. Strings store only characters, while lists can store different data types together.

. Strings use many string-specific methods like upper(), lower(), or split(), while lists have methods like append(), remove(), and sort().

Q7.How do tuples ensure data integrity in Python?

--->TUPLES ENSURE DATA INTEGRITY IN PYTHON

. Tuples are immutable, meaning their values cannot be changed, added, or removed once created.

. This immutability ensures that the data remains fixed and protected from accidental modification.

. By preventing changes, tuples help maintain data integrity throughout the program.

.Tuples can be used as dictionary keys or elements in sets since their content is constant.

. They are useful for storing data that should never change, like coordinates, dates of birth, or configuration settings.

Example:

Q8. What is a hash table, and how does it relate to dictionaries in Python?--->A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index (or hash) where the value will be stored.

. The hash function converts the key into a unique index, which allows fast access, insertion, and deletion of values.

. Python dictionaries are implemented internally using hash tables, which is why they provide very fast lookup of values based on keys.

. In a dictionary, each key is hashed, and the resulting hash determines where its corresponding value is stored in memory.

. This hashing mechanism ensures that retrieving a value by its key is much quicker compared to searching in a list or array.

Q9. Can lists contain different data types in Python?

. Yes, lists in Python can contain different data types within the same list.

. A list can store integers, strings, floats, booleans, or even other lists together.

. This flexibility makes lists very versatile for storing mixed or complex data.

. Lists are mutable, so you can modify, add, or remove elements of any type at any time.

Example use cases include storing student records, a mix of numerical values and names, or configuration data.

Q10. Explain why strings are immutable in Python?

--->Strings in Python are immutable, meaning once a string is created, its content cannot be changed.

. this immutability ensures data consistency and security, preventing accidental modification of string values.

. Python stores strings in memory in a way that allows optimization and sharing, which is possible only if strings are immutable.

. Since strings are immutable, operations like concatenation or modification create a new string object instead of changing the original one.

. This property allows strings to be used safely as keys in dictionaries or elements in sets.

Q11. What advantages do dictionaries offer over lists for certain tasks?--->Dictionaries store data in key-value pairs, allowing direct access to a value using its key, whereas lists require index-based searching.

. They provide faster lookup and retrieval compared to lists, especially for large datasets.

. Dictionaries allow unique keys, which helps prevent duplicate entries when mapping data.

. They are ideal for tasks where data needs to be retrieved based on labels or names rather than numeric positions.

. Dictionaries support efficient operations like insertion, deletion, and updating of values without needing to traverse the entire collection.

. They are widely used in applications like databases, configuration settings, and caching, where quick access to specific data is required.

Q12. Describe a scenario where using a tuple would be preferable over a list?--->Tuples are immutable, so they are ideal when you want to store data that should not be changed throughout the program.

. A common scenario is storing fixed information such as coordinates, dates, or configuration settings.


. Tuples are also preferable when the data needs to be used as keys in a dictionary or elements in a set because only immutable types are allowed.

. Using a tuple in such scenarios ensures data integrity and safer programming, preventing accidental changes that could cause errors.

Q13.How do sets handle duplicate values in Python?

--->Sets in Python are unordered collections of unique elements, which means they automatically remove duplicates.

. When you try to add a duplicate value to a set, Python ignores it and keeps only one copy of that element.

. This property makes sets useful when you need to store only unique items without worrying about duplicates.

. Sets provide efficient operations like checking membership, union, intersection, and difference, all while maintaining uniqueness.

Example:

numbers = [1, 2, 2, 3, 4, 4]
unique_numbers = set(numbers)  # Duplicates removed automatically
print(unique_numbers)          # Output: {1, 2, 3, 4}


. This ensures data integrity when only distinct values are required, such as storing unique student IDs or email addresses.

Q14. How does the “in” keyword work differently for lists and dictionaries?--->In lists, the in keyword checks whether a value exists anywhere in the list. It searches through each element sequentially.

. In dictionaries, the in keyword checks whether a key exists in the dictionary, not the value.

. This difference highlights that lists focus on values, while dictionaries focus on keys when using the in keyword.

. Dictionaries provide faster key lookup due to their internal hashing mechanism, whereas lists require a linear search through all elements.

Q15. Can you modify the elements of a tuple? Explain why or why not?

--->No, you cannot modify the elements of a tuple because tuples are immutable in Python.

. Immutability means that once a tuple is created, its content cannot be changed, added, or removed.

. This property ensures that the data stored in a tuple remains fixed and secure, preventing accidental modifications.

. If you need to change the data, you must create a new tuple with the desired values.

. Tuples are often used when data integrity is important, such as storing coordinates, dates, or configuration settings.

Q16. What is a nested dictionary, and give an example of its use case?

--->A nested dictionary in Python is a dictionary where the values themselves are dictionaries.

. It allows you to organize complex data hierarchically, making it easier to store and access related information.

. Nested dictionaries are useful for storing structured data, such as student records, employee details, or configuration settings.




. Nested dictionaries make it easy to access, update, or manage complex data efficientlY.

Q17. Describe the time complexity of accessing elements in a dictionary?


--->The time complexity of accessing elements in python dictionary is 0(1)on average because dictionaries use a hash table for storage .lookup operations are performed in constant time since the key is hashed and mapped directly to its value .However ,in the worst cases ,due to hash collision ,the time complexity can degrade to 0(n).

Q18.In what situations are lists preferred over dictionaries

--->Lists preserve the order of elements, making them ideal when the sequence of data is important, such as maintaining a list of tasks.

. Lists allow access to elements by index and support slicing, which dictionaries do not, e.g., students[0:3].

. Lists can store duplicate elements, whereas dictionary keys must be unique, e.g., [85, 90, 85, 95].

. Lists are simpler and easier to use when only a collection of elements is needed, without key-value mapping, e.g., ["apple", "banana", "orange"].

. Lists are suitable for sequential operations such as sorting, reversing, or iterating in order, e.g., numbers.sort().

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

--->Dictionaries in Python are considered unordered because the elements (key-value pairs) are not stored in a sequence based on insertion; their arrangement depends on the internal hash of the keys.

. Because of this, you cannot access dictionary items by position or index like you can in a list.

. Data retrieval in dictionaries is done using keys, not order, which means you must know the key to access its corresponding value.

. This unordered nature allows dictionaries to provide fast lookups, insertions, and deletions based on keys, even if the order of elements is not maintained.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval?

--->List: Data is retrieved using index positions. For example, my_list[0] gets the first element. Access time depends on the position, and you can also use slicing to retrieve multiple items.

. Dictionary: Data is retrieved using keys. For example, my_dict["name"] gets the value associated with the key "name". Access is fast because dictionaries use hashing, and the order of elements does not matter.

Summary: Lists are ordered and require numeric indices for retrieval, while dictionaries are unordered and require unique keys for direct access.

Q1.Write a code to create a string with your name and print it?

In [ ]:
NAME="akansha"
print(NAME)

akansha

Q2.Write a code to find the length of the string "Hello World"?

In [ ]:
name="Hello World"
print(len(name))

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
name="Python Programming"
print(name[0:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase?

In [ ]:
name="hello"
print(name.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
name="I like apples"
print(name.replace("apples","orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
List=[1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
list=['a','b','c','d']
print(list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
name=(100,200,300)
print(name)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [ ]:
tuple=(10,20,5,15)
print(min(tuple))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [ ]:
tuple=('apple','mango','kiwi')
print('kiwi'in tuple)

True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [ ]:
set={'a','b','c','d'}
print(set)

{'c', 'b', 'a', 'd'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [ ]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [ ]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [ ]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [ ]:
my_dict={"name":"riya verma","age": 22,"city":"meerut"}
print(my_dict)

{'name': 'riya verma', 'age': 22, 'city': 'meerut'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [ ]:
dict={'name':'john','age':25}
dict['country']='USA'
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [ ]:
dict={'name':'Alice','age':30}
print(dict['name'])

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [ ]:
dict={'name':'Bob','age':22,'city':'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [ ]:
dict={'name':'Alice','city':'Paris'}
print('city' in dict)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all?

In [ ]:
list=[1,2,3,4,5]
tuple=(1,2,3,4,5)
dict={'name':'riyaverma','age':22,'city':'meerut'}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'riyaverma', 'age': 22, 'city': 'meerut'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

In [ ]:
import random
numbers=random.sample (range(1,101),5)
numbers.sort()
print(numbers)

[57, 73, 93, 95, 97]

Q28.Write a code to create a list with strings and print the element of the third index?

In [ ]:
list=['apple','mango','kiwi','banana']
print(list[2])

kiwi

Q29.Write a code to combine two dictionaries into one and print the result?

In [ ]:
dict1={'name':'riyaverma','age':22,'country':'usa'}
dict2={'education':'mphill','university':'abc'}
combined={**dict1,**dict2}
print(combined)

{'name': 'riyaverma', 'age': 22, 'country': 'usa', 'education': 'mphill', 'university': 'abc'}

Q30.Write a code to convert a list of strings into a set?

In [ ]:
list=['apple','mango','banana','kiwi']
print(set(list))

{'banana', 'kiwi', 'mango', 'apple'}